


    <!--<div class="colomn1">
        <div class="mdl-tabs vertical-mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-grid mdl-grid--no-spacing" style="width: 100%">
                <div class="mdl-cell mdl-cell--2-col" style="width: 100%">
                    <div class="mdl-tabs__tab-bar">
                        <a href="#tab1-panel" class="mdl-tabs__tab is-active">
                            <span class="hollow-circle"></span>
                            Парфюмерия
                        </a>
                        <a href="#tab2-panel" class="mdl-tabs__tab">
                            <span class="hollow-circle"></span>
                            Косметика
                        </a>
                        <a href="#tab3-panel" class="mdl-tabs__tab">
                            <span class="hollow-circle"></span>
                            Средства для стирки
                        </a>
                        <a href="#tab4-panel" class="mdl-tabs__tab">
                            <span class="hollow-circle"></span>
                            Уход за телом
                        </a>
                        <a href="#tab5-panel" class="mdl-tabs__tab">
                            <span class="hollow-circle"></span>
                            Для парикмахеров
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </div>-->
    <div class="centered-content">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height: 40vh">
            <ol class="carousel-indicators prev">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" style="height: 40vh">
                <div class="carousel-item active" style="height: 40vh">
                    <img class="d-block w-100" src="https://i.ytimg.com/vi/nnXdqH1RcS4/maxresdefault.jpg" alt="First slide">

                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://images.ua.prom.st/661632154_trezor_kartinka.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://images.ua.prom.st/661523676_commondiesel.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev prev" href="#carouselExampleIndicators" role="button" data-slide="prev">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 59.414 59.414" xml:space="preserve" width="32px" height="32px" class=""><g><polygon points="45.268,1.414 43.854,0 14.146,29.707 43.854,59.414 45.268,58 16.975,29.707 " data-original="#000000" class="active-path" data-old_color="#000000" fill="#F6F2F2" /></g> </svg>

            </a>
            <a class="carousel-control-next prev" href="#carouselExampleIndicators" role="button" data-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 59.414 59.414" xml:space="preserve" width="32px" height="32px" class=""><g><polygon points="15.561,0 14.146,1.414 42.439,29.707 14.146,58 15.561,59.414 45.268,29.707 " data-original="#000000" class="active-path" data-old_color="#EFEDED" fill="#F6F2F2" /></g> </svg>

            </a>
        </div>
   
    </div>
