
<div class="items">
    <h4>Товары</h4>
    <div class="scroll" infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="2500"
     (scrolled)="onScroll()"
    
     [infiniteScrollDisabled]="isFullListDisplayed">
        <div class="item" *ngFor="let item of items">
            <mat-card class="example-card" *ngIf="item">
                <mat-card-header>

                    <mat-card-title>{{item.title}}</mat-card-title>
                    <mat-card-subtitle>{{item.cathegory}} </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image *ngIf="item.images.length===0" src="/images/none.png" alt="{{item.title}}">
                <img mat-card-image *ngIf="item.images.length>0" src="data:image/png;base64,{{item.images[0].byteImage}}" alt="{{item.title}}">
                <mat-card-content>

                    <nav class="btn-bar nav-light">

                        <a href="#" class="btn-glass btn-danger">
                            <i class="fa fa-fw fa-lg fa-times"></i>{{item.price}} грн
                        </a>

                    </nav>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="addUserItem(item)" *ngIf="itemsInBox.indexOf(item)==-1"><mat-icon style="color:#3f51b5">loyalty</mat-icon>В корзину </button>
                    <button mat-button (click)="addUserItem(item)" *ngIf="itemsInBox.indexOf(item)!=-1" disabled><mat-icon style="color:rgba(0, 0, 0, 0.26)">loyalty</mat-icon>В корзине </button>
                    <button mat-button routerLink="/details/{{item.id}}"><mat-icon>subject</mat-icon>Подробнее</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>