.example-card {
    justify-content: center;
    max-width: 100%;

    text-align:center;
 
}
.mat-card:hover {
    box-shadow: 0 7px 1px -3px rgba(0,0,0,.3), 0 6px 6px 0 rgba(0,0,0,.2), 0 2px 7px 0 rgba(0,0,0,.2);

}
.mat-card-header {
    justify-content: center;
}
    .example-card img {
        
        width:150px;
        height: auto;
        
    }
h4 {
    justify-content: center;
    text-align: center;
    background-color: #fdfdfd;
    border-top: 0.5px solid lightgrey;
    border-bottom: 0.5px solid lightgrey;
    padding: 3vh;
    font-family: "Century Gothic";
}
.items {
    justify-content: center;
    background-color: #fafafa;
 
}
.scroll {

  //  overflow: scroll;
}
.item {
    display: inline-block;
    width: 25%;
   
    padding: 2em;
   
}
.price {
    color: #fff;
   
    font-family: "century gothic";
    background-color: rgba(169, 13, 13, .75);
    width: 70px;
    height: 40px;
    margin:auto;
    border-radius: 3vw;
    
}
@media (max-width: 1600px) {
    .item {
        width: 33%;
    }
}
@media (max-width: 1250px) and (min-width: 951px) {
    .item {
        width: 50%;
    }
}
@media (max-width: 950px) {
    .item {
        width: 50%;
    }
  
}
@media (max-width: 400px) {
    .item {
        width: 50%;
        padding: 1em;
    }

  
}
.btn-glass {
    flex-grow: 1;
    text-align: center;
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    padding: 1em 2em;
    font-family: "century gothic";
    font-weight: 300;
    border: none;
    letter-spacing: 0.98pt;
    text-transform: uppercase;
    transition: background-position 2s cubic-bezier(0, 1, 0, 1), border-color 500ms, background-color 500ms;
    position: relative;
    background-attachment: fixed, scroll;
    background-size: 100vw 100vh, cover;
    background-position: center center, 0 0;
    background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0.075) 10%, rgba(255, 255, 255, 0.075) 14%, rgba(255, 255, 255, 0.15) 14%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.075) 17%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.075) 40%, rgba(255, 255, 255, 0.15) 42%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.075) 60%, rgba(255, 255, 255, 0.075) 66%, rgba(255, 255, 255, 0.15) 66%, rgba(255, 255, 255, 0.075) 70%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
}

    .btn-glass:hover {
        background-position: -100vw 0, 0 0;
    }

    .btn-glass:active {
        background-position: -75vw 0, 0 0;
        border-style: solid;
    }

.nav-light {
    background-color: rgb(234, 234, 234);
    border-radius: 30px;
}

    .nav-light .btn-glass.btn-danger {
        color: #000;
        background-color: rgba(240, 35, 17, 0);
        border-radius: 30px;
    }

        .nav-light .btn-glass.btn-danger:hover {
            color: rgba(255, 255, 255, 0.7);
            border-color: #3f51b5;
            background-color: #3f51b5;
        }

        .nav-light .btn-glass.btn-danger:active {
            color: rgba(255, 255, 255, 0.7);
            border-color: #3f51b5;
            background-color: #3f51b5;
            box-shadow: none;
        }
        .nav-light .btn-glass.btn-danger:focus {
            color: rgba(255, 255, 255, 0.7);
            border-color: #3f51b5;
            background-color: #3f51b5;
            box-shadow: none;
        }


nav.btn-bar {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

:root {
    font-family: 'Open Sans', sans;
    font-size: 11pt;
    line-height: 1.6;
    min-height: 100vh;
    background-attachment: fixed, scroll;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/49914/grit-fs8.png), radial-gradient(ellipse farthest-corner, #555, #999);
}

article {
    padding: 0;
    border: 2px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 1ex 1em rgba(0, 0, 0, 0.3);
}

code {
    font-family: monospace;
    display: inline-block;
    padding: 0.5ex 1ch 0.25ex 1ch;
    background-color: #ccc;
    border-radius: 1ex;
    margin: 0 0.5ch;
}

article + article {
    margin-top: 4em;
}

article section {
    margin: 2em;
}

article > section > h2 {
    font-family: 'Lato';
    font-weight: 800;
    font-size: 1.3em;
    margin-bottom: 0.8em;
}

article > section > p {
    margin-bottom: 1em;
    text-indent: 2ch;
}

    article > section > p:first-child,
    article > section > h2 + p {
        text-indent: 0;
    }

h1 {
    font-family: 'Lato';
    font-weight: 800;
    text-align: center;
    font-size: 5vw;
    color: rgba(255, 255, 255, 0.3);
}
