
<div class="row">
    <div class="text-part col row">
        <div class="col-sm-2">
            <mat-icon style="color:#3f51b5; font-size: 40px;">account_balance</mat-icon>
        </div>
        <div class="col text">
            <p>
                Компания основана в 1997 году. Основное направление - мелкий и средний опт. Наши постовщики - исключительно импортеры, либо владельцы торговых марок. Данный интернет-магазин, который начал свою работу с 2018 года, ориентирован на розничного покупателя (оптовикам предоставляются скидки). Цены выставлены с минимальной наценкой от оптовых!
            </p>
        </div>
    </div>
    <div class="text-part col row">
        <div class="col-sm-2">
            <mat-icon style="color:#3f51b5; font-size: 40px;">public</mat-icon>
        </div>
        <div class="col text">
            <p>
                Так же у нас есть интернет-магазин по адресу <a href="https://cam-cost.com/" target="_blank">cam-cost.com</a>, который успешно работает с января 2017 года.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="text-part col row">
        <div class="col-sm-2">
            <mat-icon style="color:#3f51b5; font-size: 40px;">whatshot</mat-icon>
        </div>
        <div class="col text">
            <p>
                Интернет магазин CAMCOST максимально полно представляет каталог товаров, отлично зарекомендовавших себя торговых марок, на территории Украины. Ассортимент сайта постоянно пополняется и расширяется, отсеиваются старые, "изжившие" себя позиции и добавляются новые, пока еще мало известные широкому пользователю, но предлагаемые надежными поставщиками. Мы стараемся идти в ногу со временем, а потому подбираем для Вас только самые модные и качественные товары, от проверенных производителей. Тщательно отслеживаем сроки годности и качество предлагаемого товара, отсеиваем брак. 
            </p>
        </div>
    </div>
    <div class="text-part col row">
        <div class="col-sm-2">
            <mat-icon style="color:#3f51b5; font-size: 40px;">pages</mat-icon>
        </div>
        <div class="col text">
            <p>
                Широко и максимально полно предлагаем  продукцию компании Burnus GmbH, производство - Германия. Burnus GmbH владеет такими торговыми марками, как Burti (стиральные порошки и средства для стирки), Kamill (крема, жидкое мыло, гели для душа, лосьоны для рук), Glysolid (лечебные крема и бальзамы), Cliff (мужские гели для душа) и Litamin (гели для душа).
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="text-part col row">
        <div class="col-sm-2">
            <mat-icon style="color:#3f51b5; font-size: 40px;">star</mat-icon>
        </div>
        <div class="col text">
            <p>
                А также - оригинальные версии известных элитных парфюмерных брендов в эксклюзивных подарочных упаковках. Компактно, красиво и удобно взять с собой, преподнести в подарок друзьям и любимым. Ознакомьтесь с новыми модными тенденциями в сфере парфюмерии на нашем сайте!
            </p>
        </div>
    </div>
    <div class="text-part col row">
        <div class="col-sm-2">
            <mat-icon style="color:#3f51b5; font-size: 40px;">location_city</mat-icon>
        </div>
        <div class="col text">
            <p>
                Работаем по всей территории Украины:
                <div class="row">
                    <div class="col">
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Киев
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Чернигов
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Днепр
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Житомир

                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Черновцы
                    </div>
                    <div class="col">
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Львов
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Ужгород

                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Запорожье

                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Краматорск
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Полтава
                    </div>
                    <div class="col">
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Херсон
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Одесса
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Харьков
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Винница
                    </div>
                </div>
                <br /> и другие.  
            
        </div>
    </div>
</div>
<div class="row">
    <div class="text-part col row">
        <div class="col-sm-2">
            <mat-icon style="color:#3f51b5; font-size: 40px;">people</mat-icon>
        </div>
        <div class="col text">
            <p>
                Приглашаем к сотрудничеству оптовиков.
            </p>
        </div>
    </div>
    <div class="text-part col row">
        <div class="col-sm-2">
            <mat-icon style="color:#3f51b5; font-size: 40px;">favorite</mat-icon>
        </div>
        <div class="col text">
            <p>
                Удачного Вам выбора!
            </p>
        </div>
    </div>
</div>
