<div class="row">
    <div class="col-sm-2 side-filters">
        <div class="mdl-tabs vertical-mdl-tabs">
            <div class="mdl-grid mdl-grid--no-spacing" style="width: 100%">
                <div class="mdl-cell mdl-cell--2-col" style="width: 100%">
                    <div class="mdl-tabs__tab-bar">
                        <div class="deep-inner">
                            Для:<br />
                            <mat-checkbox color="primary" [(ngModel)]="search.women" (change)="changeParams()">Женщин</mat-checkbox>
                            <br />
                            <mat-checkbox color="primary" (change)="changeParams()" [(ngModel)]="search.men">Мужчин</mat-checkbox>
                        </div>

                        <div *ngFor="let cath of cathegories">
                            <div *ngIf="search.parfume" class="mdl-tabs__tab" [class.is-active]="true">
                                <span class="hollow-circle"></span>
                                {{cath.name}}
                            </div>
                            <div *ngIf="parametres[1]===cath.name" style="width: 100%">

                                <div *ngFor="let chb of search.checkboxes">
                                    <div *ngIf="chb.father===cath.id" class="mdl-tabs__tab inner-tab">
                                        <mat-checkbox color="primary" (change)="changeParams()" [(ngModel)]="chb.checked">{{chb.title}}</mat-checkbox>
                                        <div class="deep-inner" *ngIf="chb.checked">
                                            <div *ngFor="let chb2 of search.checkboxes">
                                                <div class="mdl-tabs__tab inner-tab" *ngIf="chb2.father===chb.id">
                                                    <mat-checkbox color="primary" (change)="changeParams()" [(ngModel)]="chb2.checked">{{chb2.title}}</mat-checkbox>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                        
                        
                    </div>
                </div>

            </div>
        </div>
        <div *ngIf="firms">
            <div *ngFor="let firm of firms" class="mdl-tabs__tab inner-tab">
                <mat-checkbox color="primary" (change)="changeParams()" [(ngModel)]="firm.checked">{{firm.title}}</mat-checkbox>
            </div>
        </div>
    </div>
    <div class="col"> <items></items></div>
</div>