

<div class="all">

    <nav-menu></nav-menu>



    <!--<div class="colomn1">
        <div class="mdl-tabs vertical-mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-grid mdl-grid--no-spacing" style="width: 100%">
                <div class="mdl-cell mdl-cell--2-col" style="width: 100%">
                    <div class="mdl-tabs__tab-bar">
                        <a href="#tab1-panel" class="mdl-tabs__tab is-active">
                            <span class="hollow-circle"></span>
                            Парфюмерия
                        </a>
                        <a href="#tab2-panel" class="mdl-tabs__tab">
                            <span class="hollow-circle"></span>
                            Косметика
                        </a>
                        <a href="#tab3-panel" class="mdl-tabs__tab">
                            <span class="hollow-circle"></span>
                            Средства для стирки
                        </a>
                        <a href="#tab4-panel" class="mdl-tabs__tab">
                            <span class="hollow-circle"></span>
                            Уход за телом
                        </a>
                        <a href="#tab5-panel" class="mdl-tabs__tab">
                            <span class="hollow-circle"></span>
                            Для парикмахеров
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </div>-->
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
<footer></footer>