<div class="container-fluid">
    <div class="top-line">

    </div>

    <div class="row head-top position-relative">
        <div class="col-md-3 contacts-holder">
            <div class="contacts">
                <a href="tel:+380956978123"> +38(095)697-81-23</a>,<br class="number-break" />
                <a href="tel:+380967331240"> +38(096)733-12-40</a>

                <br /> Пн-Пт 9-20, Сб-Вс 10-17
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <div class="logo">
                <a routerLink="/main" class="home-link"></a>
                <div class="mobile-search">
                    <input type="button" name="search_button" id="search_button">
                </div>
                <div class="shop">
                    <a routerLink="/shop" class="basket">
                        <svg version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 550 550" style="enable-background: new 0 0 112 112;" class="">
                            <path d="M448,32H64L0,480h512L448,32z M366.062,156.406C356.875,232.063,311.969,288,256,288s-100.875-55.938-110.063-131.594   C135.438,151.188,128,140.563,128,128c0-17.688,14.313-32,32-32s32,14.313,32,32c0,10.938-5.844,20.125-14.25,25.906   C185.5,211.375,218.188,256,256,256c37.844,0,70.5-44.625,78.25-102.094C325.844,148.125,320,138.938,320,128   c0-17.688,14.312-32,32-32s32,14.313,32,32C384,140.563,376.594,151.188,366.062,156.406z" data-original="#000000" class="active-path" data-old_color="#A80D0D" fill="#3f51b5" />
                        </svg>


                    </a>
                  
                    <input class="items-chip" [(ngModel)]="data" name="data" disabled>
               
                </div>
            </div>
        </div>

        <div class="col-md-3 buy-search">
            <div name="search" id="search">
                <input type="text" name="search_text" id="search_text" placeholder="Поиск" [(ngModel)]="searchString" (ngModelChange)="searchItems()">
                <input type="button" name="search_button" id="search_button">
            </div>
        </div>
    </div>



    <mat-sidenav #sidenav [(opened)]="opened" mode="side" (clickOutside)="opened=false;">
        <button mat-button class="close-button" (click)="sidenav.toggle()">
            <mat-icon class="close">close</mat-icon>
        </button>
        <mat-accordion class="accordion-zvit">
            <mat-expansion-panel *ngFor="let navF of fillerNav">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{navF.name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <div *ngFor="let navS of smallerNav">
                        <a mat-list-item routerLink="{{navS.link}}" *ngIf="navF.id === navS.id">{{navS.name}}</a>
                    </div>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-sidenav>


    <button class="hamburger" mat-button (click)="sidenav.toggle()">
        <mat-icon class="menu-wrap-icon">menu</mat-icon>
    </button>
    <div class="navigation-menu">
        <div class="row grey borderXwidth">

            <a routerLink="/main" (mouseenter)="show('main')" (mouseleave)="hide('main')" (click)="hide('main')" class="col nav-menu-link">Главная</a>
            <a routerLink="/about" (mouseenter)="show('about')" (mouseleave)="hide('about')" (click)="hide('about')" class="col nav-menu-link">О нас</a>
            <a routerLink="/blog" (mouseenter)="show('posts')" (mouseleave)="hide('posts')" (click)="hide('posts')" class="col nav-menu-link">Статьи</a>
            <a routerLink="/delivery" (mouseenter)="show('pay')" (mouseleave)="hide('pay')" (click)="hide('pay')" class="col nav-menu-link">Доставка и оплата</a>
            <a routerLink="/sales" (mouseenter)="show('actions')" (mouseleave)="hide('actions')" (click)="hide('actions')" class="col nav-menu-link">Акции</a>



        </div>
        <div>
            <div class="menu-desc" (mouseenter)="hold=true;" (click)="hold=false; hide('main');" (mouseleave)="hold=false; hide('main');" *ngIf="mainEl">
                <div class="row">
                    <div class="col">
                        <div class="list-menu" *ngFor="let navS of smallerNav">

                            <div *ngIf="currentId === navS.menuId" routerLink="{{navS.link}}">
                                {{navS.name}}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list-menu" *ngFor="let navS of smallerNav">

                            <div *ngIf="currentId === navS.menuId" routerLink="{{navS.link}}">
                                {{navS.name}}
                            </div>
                        </div>
                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>
            <div class="menu-desc" (mouseenter)="hold=true;" (mouseleave)="hold=false; hide('about');" *ngIf="aboutEl"></div>
            <div class="menu-desc" (mouseenter)="hold=true;" (mouseleave)="hold=false; hide('posts');" *ngIf="postsEl"></div>
            <div class="menu-desc" (mouseenter)="hold=true;" (mouseleave)="hold=false; hide('pay');" *ngIf="payEl"></div>
            <div class="menu-desc" (mouseenter)="hold=true;" (mouseleave)="hold=false; hide('actions');" *ngIf="actionsEl"></div>
        </div>
    </div>
</div>