<div class="row">
    <div class="text-part col row">
        <div class="col-sm-2">
            <mat-icon style="color:#A90D0D; font-size: 40px;">room</mat-icon>
        </div>
        <div class="col text">

            <h4> Способы доставки</h4>

            <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon><span style="color:brown; text-transform:uppercase;">Нова Пошта</span>

            <ol>
                <li> После предоплаты полной стоимости заказа на карту ПриватБанка. В этом случае услуги Новой почты обойдутся 25-45грн за одну позицию.</li>
                <li> Наложенным платежом, тогда услуги Новой почты составят от 50 грн за одну позицию.</li>
            </ol>
            Отправка в тот же день, если заказ и оплата поступили до 13:00. Если заказ, либо оплата поступили после 13:00, отправка производится на следующий день.
            <br /> Ориентировочный срок доставки 1-2 дня.
            <br /><br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon><span style="color:green; text-transform:uppercase;">
                Почтоматы Приватбанка
            </span>
            <p>
                После 100% предоплаты на карту Приват банка. Отправка в тот же день, если заказ и оплата поступили до 13:00. Если заказ, либо оплата поступили после 13:00, отправка производится на следующий день.
            </p>
            <mat-icon style="color:#808080">keyboard_arrow_right</mat-icon><span style="color:dodgerblue; text-transform:uppercase;">
                Доставка "Укрпошта"
            </span>
            <p>
                После 100% предоплаты на карту ПриватБанка. Ориентировочный срок доставки 4-5 дней. Отправка в тот же день, если заказ и оплата поступили до 13:00. Если заказ, либо оплата поступили после 13:00, отправка производится на следующий день.
            </p>
            <mat-icon style="color:#808080">keyboard_arrow_right</mat-icon><span style="color:blueviolet; text-transform:uppercase;">
                Возможна отправка транспортными компаниями Деливери, Ин Тайм (по договоренности).
            </span>
            <p>
                Отправка груза свыше 30кг, либо оптовых заказов - возможна транспортными компаниями "Деливери" либо "Ин Тайм". После 100% предоплаты на карту ПриватБанк. Отправка в тот же день, если заказ и оплата поступили до 13:00. Если заказ, либо оплата поступили после 13:00, отправка производится на следующий день.
            </p>
        </div>
    </div>
    <div class="text-part col row">
        <div class="col-sm-2">
            <mat-icon style="color:#A90D0D; font-size: 40px;">payment</mat-icon>
        </div>
        <div class="col text">

            <h4> Способы оплаты</h4>

            <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon><span style="color:green; text-transform:uppercase;">Безналичный расчет</span>
            <p>Предоплата на карту ПриватБанк. Реквизиты высылаем после оформления заказа на номер телефона или электронную почту.</p>

            <mat-icon style="color:#808080">keyboard_arrow_right</mat-icon><span style="color:brown; text-transform:uppercase;">
                Наложенный платеж
            </span>
            <p>
                Стоимость рассчитывается согласно тарифам транспортной компании, выбранной Вами. Только для клиентов с положительными отзывами. Компания оставляет за собой право отказать в услуге, если у клиента отсутствуют вообще, либо есть отрицательные отзывы от других компаний. В таком случае предлагается перед отправкой оплатить услуги перевозчика в обе стороны, во избежании финансовых потерь компанией.
            </p>
            <mat-icon style="color:#808080">keyboard_arrow_right</mat-icon><span style="color:blueviolet; text-transform:uppercase;">
                Оплата картой Visa, Mastercard - WayForPay
            </span>

            <br />  <br /> <br />  <mat-icon style="color:dodgerblue">verified_user</mat-icon><span style="color:dodgerblue; text-transform:uppercase;">
                Покупка без риска
            </span>

        </div>
    </div>
</div>
<div class="row">
    <div class="text-part col row">
        <div class="col-sm-2">
            <mat-icon style="color:#A90D0D; font-size: 40px;">near_me</mat-icon>
        </div>
        <div class="col text">
          
                <h4>Регионы доставки</h4>
                <div class="row">
                    <div class="col">
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Киевская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Черниговская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Днепропетровская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Житомирская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Волынская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Черновицкая область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Николаевская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Тернопольская область
                    </div>
                    <div class="col">
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Львовская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Ивано-Франковская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Луганская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Запорожская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Ровненская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Донецкая область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Полтавская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Хмельницкая область
                    </div>
                    <div class="col">
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Сумская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Закарпатская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Кировоградская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Херсонская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Одесская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Харьковская область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Винницкая область
                        <br /><mat-icon style="color:#808080">keyboard_arrow_right</mat-icon>Черкасская область
                    </div>
                </div>

        </div>
    </div>
</div>

